@import url('https://rsms.me/inter/inter.css');

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
